<div class="card">
    <h5 class="card-header">Alterar Lançamento</h5>
    <div class="card-body">
        <form [formGroup]="lancamentoForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
              <label for="descricao">Descrição</label>
              <input type="text" class="form-control" id="descricao" formControlName="description" placeholder="Descrição do lançamento">
            </div>
            
            <!-- obs: sempre que tenho relacionamento de objeto devo agrupar com o formGroupName -->
            <div formGroupName="category"> 
                <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select class="form-control" id="categoria" formControlName="id" >
                      <option [value]="c.id" *ngFor="let c of categorias" >{{ c.name }}</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="tipo">Tipo do Lançamento</label>
                <select class="form-control" id="tipo" formControlName="type" >
                    <option [value]="type.code" *ngFor="let type of tipoLancamentos" >{{ type.name }}</option>
                </select>
            </div>
            <div class="form-group">
              <label for="valor">Valor</label>
              <input type="number" class="form-control" id="valor" formControlName="value" placeholder="Valor do lançamento">
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            <a [routerLink]="['/lancamentos']" routerLinkActive="active"  class="btn btn-danger ml-3" role="button">Cancelar</a>
        </form>
    </div>
</div>
