<table class="table table-hover" *ngIf="cadastros; else loading" >
    <thead>
      <tr>
        <th>#</th>
        <th>Tipo</th>
        <th>Descrição</th>
        <th>Data</th>
        <th>Valor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of cadastros">
        <td>{{ c.id }}</td>
        <td>{{ c.type == 'INPUT' ? 'Entrada' : 'Saída' }}</td>
        <td>{{ c.description }}</td>
        <td>{{ c.date | date:'M/dd/y' }}</td>
        <td>{{ c.value }}</td>
        <td>
          <a class="btn btn-outline-warning btn-sm" [routerLink]="['/lancamentos/update', c.id]" routerLinkActive="active"><i class="fas fa-pencil-alt"></i></a>
          <a class="btn btn-outline-primary btn-sm ml-3" [routerLink]="['/lancamentos/detail', c.id]" routerLinkActive="active"><i class="fas fa-info-circle"></i></a>
          <a class="btn btn-outline-danger btn-sm ml-3" [routerLink]="['/lancamentos/delete', c.id]" routerLinkActive="active"><i class="fas fa-trash-alt"></i></a>
        </td>
      </tr>
    </tbody>
  </table>

<a class="float" [routerLink]="['/lancamentos/new']" routerLinkActive="active"  >
  <i class="fa fa-plus btn-float"></i>
</a>

<ng-template #loading>
    <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
</ng-template>